.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.listList {
  border: 2px solid;
  width: 300px;
}
h2 {
  font-size: 18px;
}
p {
  font-size: 12px;
}
.containerLink {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.containerLink p {
  color: blue;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
